.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.imageFlip {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
.button {
  display: inline-block;
  position: relative;
  font-size: 12px;
  background-color: rgba(199, 193, 193, 0.726);
  color: rgb(56, 75, 247);
  border-color: rgb(175, 175, 175);
  border-radius: 20%;
  width: 35px;
  height: 15px;
}
.boarder {
  left: -250px;

  float: left;
  position: relative;
  border-style: solid;
  border-color: red;
  width: 20%;
}
.shopping {
  float: left;

  position: relative;
  border-style: solid;
  border-color: greenyellow;

  top: 10;
  left: 600px;
  width: 20%;
}
.favorited {
  display: inline-block;
  position: relative;
  font-size: 12px;
  background-color: rgb(250, 240, 98);
  color: rgb(228, 86, 109);
  border-color: rgb(175, 175, 175);
  border-radius: 20%;
  width: 35px;
  height: 15px;
}

.sugar {
  font-size: 1px;
}
.line {
  position: relative;
  top: 9px;
  border-color: yellow;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
